<?xml version="1.0" encoding="UTF-8"?>
<!-- 顶层定义了最基本的级别，不超过这个级别就是不被收集，优先级最高，比Logger中的高，一般设置为debug -->
<Configuration status="INFO" name="defaultLogConfig"
               packages="">

    <!-- 这个标签定义了所有的数据输出位置 -->
    <Appenders>
        <!-- 这个是第一个输出Appender 这个是向控制台输出 -->
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%-5p %d{MM-dd HH:mm:ss,SSS} %m  (%F:%L) \n"/>
        </Console>
    </Appenders>


    <Loggers>
        <Logger name="java.sql" level="debug">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <logger name="org.apache.ibatis" level="info">
            <AppenderRef ref="STDOUT"/>
        </logger>
        <!-- 其他没配置的类的日志收集级别 -->
        <Root level="WARN">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>