<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.DeptMapper">

    <!-- Dept getDeptByDeptId(@Param("dept_id") Integer deptId);-->
    <select id="getDeptByDeptId" resultType="Dept">
        select *
        from t_dept
        where dept_id = 1
    </select>

    <!--  Dept getDeptAndAllEmpByDeptId(@Param("dept_id") Integer deptId);-->
    <resultMap id="getDeptByDeptIdMap" type="Dept">
        <!-- id设置的是主键的 -->
        <id property="deptId" column="dept_id"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="emps" ofType="Emp">
            <id property="empId" column="emp_id"></id>
            <result property="empName" column="emp_name"></result>
            <result property="sex" column="sex"></result>
        </collection>
    </resultMap>
    <select id="getDeptAndAllEmpByDeptId" resultMap="getDeptByDeptIdMap">
        select t_emp.*,
               t_dept.*
        from t_dept
                 join t_emp
                      on t_dept.dept_id = t_emp.dept_id
        where t_dept.dept_id = #{dept_id}
    </select>

    <!-- Dept getDeptAndAllEmpByDeptIdStep(@Param("dept_id") Integer deptId);-->
    <resultMap id="getDeptByDeptIdMapStep" type="Dept">
        <!-- id设置的是主键的 -->
        <id property="deptId" column="dept_id"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="emps"
                    fetchType="eager"
                    select="org.example.mapper.EmpMapper.getEmpListByStep" column="dept_id">
        </collection>
    </resultMap>
    <select id="getDeptAndAllEmpByDeptIdStep" resultMap="getDeptByDeptIdMapStep">
        select *
        from t_dept
        where dept_id = #{dept_id}
    </select>

</mapper>
